# dependencies
node_modules/
.pnp
.pnp.js

# next.js
.next/
out/

# production
build/

# misc
.DS_Store
*.pem
.idea/

# debug
npm-debug.log*

# env
.env
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# python (legacy notebooks)
__pycache__/
*.pyc
.pytest_cache/
*.egg-info/
